@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4v0xwp');
  src:  url('fonts/icomoon.eot?4v0xwp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4v0xwp') format('truetype'),
    url('fonts/icomoon.woff?4v0xwp') format('woff'),
    url('fonts/icomoon.svg?4v0xwp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
  content: "\e900";
}
.icon-users:before {
  content: "\e901";
}
.icon-sidebar:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-more-vertical:before {
  content: "\e904";
}
.icon-list:before {
  content: "\e905";
}
.icon-life-buoy:before {
  content: "\e906";
}
.icon-image:before {
  content: "\e907";
}
.icon-folder:before {
  content: "\e908";
}
.icon-file-plus:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-alert-treangle:before {
  content: "\e90b";
}
